@import url(<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">);
* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > img {
  width: 42%;
  border: solid 3px black;
  border-radius: 50%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  cursor: pointer;
}
.nav-list {
  display: flex;
  width: 50%;
  align-items: center;
}
.rightnav {
  width: 50%;
  text-align: right;
  padding: 0px 23px;
}
.nav-list > li {
  list-style: none;
  padding: 7px 16px;
}
.nav-list > li > a {
  text-decoration: none;
  color: white;
}
.nav-list > li > a:hover {
  color: rgb(113, 48, 48);
}
#search {
  padding: 2px;
  font-size: 14px;
  border: 2px solid rgb(89, 55, 22);
  border-radius: 19px;
}
.background {
  background: rgba(0, 0, 0, 0.7) url("../img/d.jpg");
  background-blend-mode: darken;
  background-size: cover;
}
.fsection {
  height: 100vh;
}
.i {
  width: 280px;
  height: auto;
}
.main-box {
  margin: auto;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 80%;
}
.fhalf {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shalf {
  width: 30%;
}
.shalf > img {
  display: block;
  width: 155%;
  border: 4px solid white;
  border-radius: 147px;
  margin: auto;
}
.big-text {
  font-size: 32px;
}
.small-text {
  font-size: 14px;
}
.btn {
  border: 2px solid brown;
  padding: 4px 8px;
  margin: 7px 2px;
  border-radius: 10px;
  font-size: 12px;
  background: none;
  color: white;
  cursor: pointer;
}
.btnsm {
  padding: 1px 9px;
  vertical-align: middle;
}
.section {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
}
.section-left {
  flex-direction: row-reverse;
}
.section > div > img {
  width: 300px;
  height: auto;
}

.paras {
  padding: 0px 68px;
}
sectionsubtag{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
