@import url(<linkhref="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"rel="stylesheet">);
* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > img {
  width: 42%;
  border: solid 3px black;
  border-radius: 50%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  cursor: pointer;
}
.nav-list {
  display: flex;
  width: 60%;
  align-items: center;
}
.rightnav {
  width: 40%;
  text-align: right;
  padding: 0px 23px;
}
.nav-list > li {
  list-style: none;
  padding: 7px 16px;
}
.nav-list > li > a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-list > li > a:hover {
  color: rgb(113, 48, 48);
}
#search {
  padding: 2px;
  font-size: 14px;
  border: 2px solid rgb(89, 55, 22);
  border-radius: 19px;
}
.background {
  background: rgba(0, 0, 0, 0.7) url("../img/d.jpg");
  background-blend-mode: darken;
  background-size: cover;
}
.thumbnail {
  width: 20%;
}
.fsection {
  height: 100vh;
}
.i {
  width: 280px;
  height: auto;
}
.main-box {
  margin: auto;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 80%;
}
.fhalf {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shalf {
  width: 30%;
}
.shalf > img {
  display: block;
  width: 155%;
  border: 4px solid white;
  border-radius: 147px;
  margin: auto;
}
.big-text {
  font-size: 32px;
  padding: 18px 0px;
}
.small-text {
  font-size: 14px;
}
.btn {
  border: 2px solid brown;
  padding: 4px 8px;
  margin: 7px 2px;
  border-radius: 10px;
  font-size: 12px;
  background: none;
  color: white;
  cursor: pointer;
}
.btndark {
  color: black;
  border: 2px solid rgb(203 198 198);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btnsm {
  padding: 1px 9px;
  vertical-align: middle;
}
.section {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
}
.section-left {
  flex-direction: row-reverse;
}
.section > div > img {
  width: 150px;
  border: 2px solid black;
  border-radius: 20px;
}

.paras {
  padding-right: 50px;
}
.para2 {
  padding-left: 90px;
}
.sectionsubtag {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact {
  background-color: #f7f4f0;
  height: 70vh;
}
.text-center {
  text-align: center;
  padding-top: 19px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.form {
  max-width: 344px;
  margin: 20px auto;
}
.input {
  margin: 7px 0px;
  padding: 5px 2px;
  width: 100%;
  font-size: 17px;
  border: solid 2px #cbc6c6;
  border-radius: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.text-footer {
  text-align: center;
  padding: 19px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.burger {
  display: none;
  position: absolute;
  right: 2%;
  top: 7px;
  cursor: pointer;
}
.line {
  width: 20px;
  background-color: white;
  height: 1px;
  margin: 3px;
}
@media only screen and (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
  }
  .rightnav {
    text-align: center;
  }
  #search {
    width: 40%;
  }
  .burger{
    display: block;
  }
  .h-nav-resp{
    height: 36px;
  }
  .v-class-resp{
    opacity: 0;
  }
}
