* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > img {
  width: 42%;
  border: solid 3px black;
  border-radius: 50%;
}
.navbar {
  display: flex;
}
.nav-list {
  display: flex;
  width: 50%;
  align-items: center;
}
.rightnav {
  width: 50%;
  text-align: right;
}
.nav-list > li {
  list-style: none;
  padding: 7px 16px;
}
.nav-list > li > a {
  text-decoration: none;
  color: white;
}
.nav-list > li > a:hover {
  color: rgb(113, 48, 48);
}
#search {
  padding: 2px;
  font-size: 14px;
  border: 2px solid rgb(89, 55, 22);
  border-radius: 19px;
}
.background {
  background: rgba(0, 0, 0, 0.7) url("../img/d.jpg");
  background-blend-mode: darken;
  background-size: contain;
}
